<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/rb_view_details_head'); %>
</head>
<body>
    <div class="display_page_body">
       <%- include('./pub_partials/nav_links') %>
        <div class="rb_view">
            <%- include('../../partials/rb_views_top') %>
            <div class="rb_all_ratings">
            <%- include('../../partials/rb_views_bottom') %>
            </div>
        </div>
    </div>
    <%- include('../../partials/rb_view_details_scripts') %>
</body>
</html>