<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="/css/rb.css">
</head>
<body>
    <div class="pageBody">
        <%- include('../../partials/nav_bar'); %>
        <%- include('../../partials/rootbeer_actions'); %>
        <%- include('../../partials/add_rb'); %>

        <footer>
            <%- include('../../partials/footer'); %>
        </footer>
        <script src="../javascript/portal.js"></script>  
    </div>
</body>